body{
  background-color: black;
  color:white
}
.div-1{
  padding:1% 4%;
  
}
table{
  /* padding:1%; */
  border:2px solid black;
  border-collapse: collapse;
  width:100%;
  /* text-align: center; */
}
h1{
  width: 100%;
  text-align: center;  
}

th{
  border:1px solid black;
  padding:2%;
  font-size:20px;
  font-weight: bold;
}
.table-row{
  /* padding:5%; */
}
.table-cell{
  border:1px solid black;
  padding:1%;
  text-align: center;
}

select{
  padding:1% 10%;
  width:100%;
}

tr:nth-child(odd){
  background-color: rgb(33, 33, 33);
}

.switch{
  background-color: rgb(41, 102, 194);
  color:white;
  cursor: pointer;
  padding:5% 20%;
}

.register{
  margin:5% 0 0 0;
  padding:1% 2%;
  font-size:20px;
  cursor: pointer;
  background-color: rgb(11, 29, 112);
  color:white;
}
.register-div{
  text-align: center;
}

@media screen and (max-width:600px){
  .div-1{
    padding:0;
  }
  .table-cell{
    font-size:15px;
    padding:1%;
  }
}